!!!
%html
  %head
    %title= title
    %meta{ 'http-equiv'.to_sym => 'X-UA-Compatible', :content => 'IE-edge' }
  %body
    %h1 HUSHES
    %ul
    - gen_dir_list(Dir.entries(media_path)).rotate(2).each do |string|
      %li
        %a{:href => string}= underscores_to_whitespace( string )
    = yield
